.container {
  max-width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-left {
  display: flex;
  width: 520px;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  width: 307px;
  display: flex;
  justify-content: space-between;
}

.body {
  font-family: "Roboto";
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  list-style-type: none;
  text-decoration: none;
}

.Web {
  color: #2196f3;
  list-style-type: none;
  text-decoration: none;
}

.contact-link {

} 

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 281px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-list a {
  text-decoration: none;
  color: #212121;
}
.nav-list a:hover {
  color: #2196f3;
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.contact-list a {
  text-decoration: none;
  color: #757575;
}
.contact-list a:hover {
  color: #2196f3;
}

.features-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  list-style-type: none;
}

.features-list {
  display: flex;
}

.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  display: block;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section3-imgs {
  width: 370px;

  margin: 50px auto 0;
}

.section4-img {
  width: 270px;
  height: 260px;
}

.section4-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  list-style-type: none;
}

.section5 {
  background: #2f303a;
}

.logo-link--section5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.section5-text {
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
