.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
p,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

.header {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 24px 0;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
  margin: 0 344px 0 0;
}

.header-right {
  width: 307px;
  display: flex;
  justify-content: space-between;
  margin: px 0;
}

.header-right a {
  text-decoration: none;
  color: #757575;
}
.header-right a:hover {
  color: #2196f3;
}

.contact-link1 {
  margin-right: 50px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.Web {
  color: #2196f3;
}

.contact-link {
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 281px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 8px 0 8px 93px;
}
.nav-list a {
  color: #212121;
}
.nav-list a:hover {
  color: #2196f3;
}

.nav-list-item {
  margin: 0 50px;
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contact-list a {
  color: #757575;
}
.contact-list a:hover {
  color: #2196f3;
}

.hero {
  background: #2f303a;
  padding: 200px 0;
  width: 1600px;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features-list {
  display: flex;
  margin: 0 auto;
  padding: 94px 0;
  width: 1200px;
}

.features-list-2 {
  margin: 0 30px;
}

.features-list-3 {
  margin-right: 30px;
}

.features-text {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

.section3 {
  margin: 0 auto;
  padding-bottom: 94px;
  width: 1200px;
}

.section3-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section3-img2 {
  margin: 0 30px;
}
